#App Specific CSS
/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    height: 100%;
    margin-bottom: 60px;
}

#footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    border-top: 1px solid #f5f5f5;
    background-color: #e5e5e5;
    vertical-align: top;
}

#footer > .container {
    padding: 10px;
}

body > .container {
    height: 100%;
    margin-top: 40px;
}

.row {
margin-left: 0px;
margin-right: 0px
}