{% extends "base.html" %}

{% block content %}

<script src="{{ STATIC_URL }}js/highcharts/js/highcharts.js"></script>
<script src="{{ STATIC_URL }}js/highcharts/js/modules/exporting.js"></script>

<script>

$(function () {

    $(document).ready(function () {

        // Build the chart
        $('#container').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'Browser market shares January, 2015 to May, 2015'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false
                    },
                    showInLegend: true
                }
            },
            series: [{
                name: "Brands",
                colorByPoint: true,
                data: [{
                    name: "Microsoft Internet Explorer",
                    y: 10.38
                }, {
                    name: "Chrome",
                    y: 24.03,
                    sliced: true,
                    selected: true
                }, {
                    name: "Firefox",
                    y: 56.33
                }, {
                    name: "Safari",
                    y: 4.77
                }, {
                    name: "Opera",
                    y: 0.91
                }, {
                    name: "Proprietary or Undetectable",
                    y: 0.2
                }]
            }]
        });
    });

});

</script>
<div class="container">
	<br/>
	<div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h3>Tola Help</h3>
                <p>Get help setting up using and configuring Tola Acitivy, Tola Data and report any issues you are having.</p>
                <br/>
                <a href="/helpdesk/tickets/submit" class="btn btn-lg btn-success">Submit Report</a>
                <br/>
                <br/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
        </div>
        <div class="col-md-6">

            <h3>Tola Tools</h3>
            <div class="list-group">
                <a href="https://tola-data.mercycorps.org" class="list-group-item active">
                    Tola Data
                </a>
                <li class="list-group-item">Latest Release: <a href="{{ tola_url }}"><span class="badge">{{ tola_number }}</span></a></li>
                <li class="list-group-item">Status: {% if data_up == 0 %} SERVER IS DOWN {% else %} Server is up!{% endif %}</li>
            </div>
            <div class="list-group">
                <a href="https://tola-activity.mercycorps.org" class="list-group-item active">
                    Tola Activity
                </a>
                <li class="list-group-item">Latest Release: <a href="{{ tola_activity_url }}"><span class="badge">{{ tola_activity_number }}</span></a></li>
                <li class="list-group-item">Status: {% if data_up == 0 %} SERVER IS DOWN {% else %} Server is up!{% endif %}</li>
            </div>

        </div>
    </div>




</div>


{% endblock content %}
